USE [master]
GO
/****** Object:  Database [H2MAK]    Script Date: 8/5/2023 10:25:17 AM ******/
CREATE DATABASE [H2MAK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'H2MAK', FILENAME = N'D:\Database\MSSQL16.MSSQLSERVER\MSSQL\DATA\H2MAK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'H2MAK_log', FILENAME = N'D:\Database\MSSQL16.MSSQLSERVER\MSSQL\DATA\H2MAK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [H2MAK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [H2MAK]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/5/2023 10:25:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/5/2023 10:25:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [int] NOT NULL,
	[categoryName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/5/2023 10:25:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productID] [varchar](50) NOT NULL,
	[productName] [nvarchar](100) NULL,
	[oldPrice] [float] NULL,
	[newPrice] [float] NULL,
	[image01] [nvarchar](100) NULL,
	[image02] [nvarchar](100) NULL,
	[image03] [nvarchar](100) NULL,
	[image04] [nvarchar](100) NULL,
	[available] [int] NULL,
	[sold] [int] NULL,
	[cid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [password], [email]) VALUES (N'admin01', N'202cb962ac59075b964b07152d234b70', N'admin01@gmail.com')
INSERT [dbo].[Account] ([username], [password], [email]) VALUES (N'thayHoai', N'e10adc3949ba59abbe56e057f20f883e', N'thayHoaidepDzai@gmail.com')
GO
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (1, N'Apple')
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (2, N'Samsung')
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (3, N'Oppo')
GO
INSERT [dbo].[Product] ([productID], [productName], [oldPrice], [newPrice], [image01], [image02], [image03], [image04], [available], [sold], [cid]) VALUES (N'A001', N'iPhone 14 Pro Max', 1700, 1360, N'images/rsz_1iphone14pro.jpg', N'images/frontip.jpg', N'images/backiP.jpg', N'images/zoomiP.jpg', 26, 15, 1)
INSERT [dbo].[Product] ([productID], [productName], [oldPrice], [newPrice], [image01], [image02], [image03], [image04], [available], [sold], [cid]) VALUES (N'A0012', N'iPhone 12 Pro Max', 1100, 900, N'images/iphone12.jpg', N'', N'', N'', 54, 23, 1)
INSERT [dbo].[Product] ([productID], [productName], [oldPrice], [newPrice], [image01], [image02], [image03], [image04], [available], [sold], [cid]) VALUES (N'A002', N'iPhone 12 Pro Max', 1100, 1000, N'images/iphone12.jpg', N'', N'', N'', 45, 23, 1)
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([cid])
REFERENCES [dbo].[Category] ([categoryID])
GO
USE [master]
GO
