/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 20, 2023, 12:09:52 PM
    Author     : User
*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Press+Start+2P&display=swap');

.function {
    height: 100%;
    background-color: white;
    font-family: 'Aldrich', sans-serif;  
    color: green;
}
table {
    text-align: center;
}
table th{
    background-color: #151813;
}
table td {
    color: #423838;
}
a{
    text-decoration: none;
    color: grey;
}
a:hover{
    color: green;
}

